/* 
 *  This file is part of SNEP.
 *  Para território Brasileiro leia LICENCA_BR.txt
 *  All other countries read the following disclaimer
 *
 *  SNEP is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  SNEP is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with SNEP.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  CSS File for snep  (modules/default/views/scripts/)
 */

body {
    background-color: #3b3a3c;
    height: 100%;

}
.afix {
	position: fixed !important;
}
.row {
    margin: 0px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
    vertical-align: middle !important;
    font-size: 14px;
}

.header_table_info{
    background-color: #f26c45;
    color: #fff;
}

.ip-status > h4 > a {
    color: #f26c45;
    text-decoration: none !important;
    background-color: transparent;
}

.ip-status > h4 > a:hover,
.ip-status > h4 > a:focus, {
    color: #333 !important;
    text-decoration: none !important;
}

audio {
    width: 100px;
    height: 5px;
    display: table;
}

legend {
    display:block;
    width:100%;
    padding:0;
    margin-bottom:20px;
    font-size:21px;
    line-height:inherit;
    color:#f26c45;
    border:0;
    border-bottom:1px solid #e5e5e5
}
a {
    /*background-color:#3b3a3c;*/
    color:#868488;
    text-decoration:none;
    /*background-color: #313032;*/
}
a:focus,a:hover {
    color:#ffffff;
    text-decoration:underline;
    background-color: #313032;
}

a.dash:hover {
    color:#f26c45;
    text-decoration:underline;
    background-color: #313032;
}
a.sn-dash-add {
    color: #f26c45;
    font-size: 30px;
    background-color: transparent ;
    vertical-align: middle;
    text-decoration: none;
}
a.sn-dash-add:hover {
    font-weight: bolder;
}

b,strong {
    font-weight:300;
    color: #3b3a3c;
}

/*
 * Default scope
 */
#wrapper {
    width: 100%;
    height: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f8f9fb;

}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 200px;
        padding: 110px 75px 0 25px;
        border-left: 1px solid #e7e7e7;
    }
}
.invisible { 
    display: none; 
}
.visible { 
    visibility: visible; 
}

.headerlogo {
    padding-left:40px;
    background-color: #fff;
}

.headerlogo:hover {
    background-color: #fff;
}

.header{
    background-color: #ffffff;
}


.page-header-snep {
    padding-bottom:2px;
    padding-left: 15px;
    background-color: #ebecee;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;
}

.search {
  float: right;
}

label.valid {
    width: 18px;
    height: 18px;
    background: url(/snep/images/true.png) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    float: right;
}
label.error {
    font-weight: normal;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

/*
 * Nav/header bar
 */

.snep-navbar{
    z-index:1000;
    position: fixed !important;
    background-color: #f8f9fb !important;
    margin-bottom: 0px;
    width: 100%;
    border-width:0 0 1px;
    height: 88px ;
}

.snep-navbar-logo > a,
.snep-navbar-logo > a:hover,
.snep-navbar-logo > a:focus {
    background-color: transparent;
}

.snep-navbar-logo {
    text-align: center;
    padding-top: 5px;
    width: 200px;
    float: left;
    height: 53px;
}
.snep-navbar-logo > a > img {
    vertical-align: top;
}

.snep-navbar-logo-powered{
    padding-top: 6px;
    float: left ;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 18px;
    min-height: 50px;
    background-color: #f8f9fb;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    background-color: #fff;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-language {
    width: 70px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
ul.dropdown-user.in {
    z-index: 30000;
}

/*
 * Breadcrumb
 */
 #snep-breadcrumb {

    background-color: #f8f9fb;
    height: 34px;
    width: 100%;
    margin-top: 54px;
}

@media(min-width:768px) {
    #snep-breadcrumb {
        position: inherit;
        margin: 54px 0 0 200px;
        padding: 0px;
        border-left: 1px solid #e7e7e7;
    }
}

.snep-breadcrumb-left-menu {
    background-color: #333;
    height: 34px;
    padding: 0px;
    float:left;
    width: 250px;
}
.snep-breadcrumb-body {
    background-color: #ebecee;
    height: 34px;
    border-top: 1px solid #959595;
    width: 100%;
    padding: 0px;
    margin: 0px;
        border-radius: 0px;
}
.snep-breadcrumb-body > span {
    line-height:34px;
    padding-left: 10px;
}
/*
 * Left Menu
 */
li#default_manage.active > a,
li#default_reports.active > a,
li#default_routing.active > a,
li#default_status.active > a,
li#default_configs.active > a,
li#default_index.active > a {
    background-color: #f26c45;
    color: #fff;
}
li#default_manage,
li#default_reports,
li#default_routing,
li#default_status,
li#default_configs,
li#default_index {
    background-color: #333;
    line-height: 20px;
}

li#default_manage > a,
li#default_reports > a,
li#default_routing > a,
li#default_status > a,
li#default_configs > a,
li#default_index > a {
    padding-left: 10px;
}
li#default_manage.active > ul > li > a,
li#default_reports  > ul > li > a,
li#default_routing  > ul > li > a,
li#default_status  > ul > li > a,
li#default_configs  > ul > li > a,
li#default_index  > ul > li > a {
    background-color: transparent;
}
.fa-fw {
    font-size: 16px;
}

ul.snep-menu-list{
    list-style-type: disc; 
    list-style-position: outside;
    line-height: 30px;
    color:  #868488;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    background-color: #313032;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 20px;
}

.sidebar .nav-third-level li a {
    padding-left: 30px;
}

@media(min-width:768px) {
    .sidebar {

        z-index: 1;
        position: absolute;
        width: 200px;
        margin-top: 54px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.collapse {
    display:none;
    visibility:hidden;
}
.collapse.in {
    display:block;
    visibility:visible;
    background-color: #313032;
}
.collapsing {
    position:relative;
    height:0;
    overflow:hidden;
    background-color: #313032;
    -webkit-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease;
    -webkit-transition-duration:.35s;
    -o-transition-duration:.35s;
    transition-duration:.35s;
    -webkit-transition-property:height,visibility;
    -o-transition-property:height,visibility;
    transition-property:height,visibility
}

.nav>li>a {
    position:relative;
    display:block;
    padding:10px 12px
}

.nav>li>a:focus,.nav>li>a:hover {
    text-decoration:none;
    background-color:#f26c45
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
    background-color:#f26c45;
    border-color:#337ab7
}

.navbar {
    position:relative;
    min-height:60px;
    margin-bottom:20px;
    /*border:1px solid transparent*/
}

.navbar-brand {
    float:left;
    height:51px;
    padding:15px 15px;
    font-size:18px;
    line-height:20px;
    background-color: #ffffff;
}

.navbar-default {
    background-color:#ffffff;
    border-color:#e7e7e7
}



/*
 * Dashboard
 */
.col-xs-3 {
    font-size: 30px;
}
.col-xs-9 {
    font-size: 16px;
    padding: 0px !important;
}
.snep-panel-dashboard-head,
.snep-panel-dashboard-edit {
    color: #f26c45 !important;
    /*border-color: #f26c45;*/
    background-color: #fff !important;
    padding: 10px 5px;
}

.snep-body-dasboard {
    margin-left: 0px;
    margin-right : 0px;
}
.snep-body-dash-edit-button {
    text-align: right;
    padding-right: 15px;
}
.snep-body-top-buttons {
    text-align: left;
    height: 40px;
}

.btn-add-route {
    margin-left: 15px;
}

.header-dropdown {
    text-align: right;
}

.snep-body-footer-buttons {
    clear: both;
    margin-left: 0px !important;
    margin-top: 10px;
    text-align: center; 
    border-top: 1px solid #e5e5e5;
    /*margin-bottom: 40px;*/
    padding-top: 10px;
 }
.snep-body-search {
    float: right;
    padding-top: 6px;
 }

/*
 * Buttons
 */
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default {
    color:#333;
    background-color: #e7e7e7;
    border-color:#adadad
}

.btn-down {
    width: 70px;
    height: 27px;
    border: 1px solid #959595;
    background-position: center;
    background-color: #F8F9FB;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

.glyphicon-download {
    color: #f26c45;
}

.btn-down:hover{
    background-color: #F8F9FB;
}

.btn-add {
    color:#fff !important;
    background-color:#f26c45;
    border-color:#E2623D
}
.btn-add.active,.btn-add.focus,.btn-add:active,.btn-add:focus,.btn-add:hover,.open>.dropdown-toggle.btn-add {
    color:#fff;
    background-color:#E2623D;
    border-color:#E2623D
}
.btn-add.active,.btn-add:active,.open>.dropdown-toggle.btn-add {
    background-image:none
}
.btn-add.disabled,.btn-add.disabled.active,.btn-add.disabled.focus,.btn-add.disabled:active,.btn-add.disabled:focus,.btn-add.disabled:hover,.btn-add[disabled],.btn-add[disabled].active,.btn-add[disabled].focus,.btn-add[disabled]:active,.btn-add[disabled]:focus,.btn-add[disabled]:hover,fieldset[disabled] .btn-add,fieldset[disabled] .btn-add.active,fieldset[disabled] .btn-add.focus,fieldset[disabled] .btn-add:active,fieldset[disabled] .btn-add:focus,fieldset[disabled] .btn-add:hover {
    background-color:#f26c45;
    border-color:#E2623D;
}
.btn-add .badge {
    color:#f26c45;
    background-color:#fff
}

.btn-edit {
    color:#fff;
    background-color:#f6934f;
    border-color:#f47f4a
}
.btn-edit.active,.btn-edit.focus,.btn-edit:active,.btn-edit:focus,.btn-edit:hover,.open>.dropdown-toggle.btn-edit {
    color:#fff;
    background-color:#f47f4a;
    border-color:#f47f4a
}
.btn-edit.active,.btn-edit:active,.open>.dropdown-toggle.btn-edit {
    background-image:none
}
.btn-edit.disabled,.btn-edit.disabled.active,.btn-edit.disabled.focus,.btn-edit.disabled:active,.btn-edit.disabled:focus,.btn-edit.disabled:hover,.btn-edit[disabled],.btn-edit[disabled].active,.btn-edit[disabled].focus,.btn-edit[disabled]:active,.btn-edit[disabled]:focus,.btn-edit[disabled]:hover,fieldset[disabled] .btn-edit,fieldset[disabled] .btn-edit.active,fieldset[disabled] .btn-edit.focus,fieldset[disabled] .btn-edit:active,fieldset[disabled] .btn-edit:focus,fieldset[disabled] .btn-edit:hover {
    background-color:#f0ad4e;
    border-color:#eea236
}
.btn-edit .badge {
    color:#f0ad4e;
    background-color:#fff
}

.btn-group .btn+.btn {
    margin-left: 0px !important;
}

.btn-adddashboard {
    width: 30px;
    height: 30px;
    border: none;
    background: url(/snep/images/add.png) no-repeat;
    background-position: center;
    background-color: #F8F9FB;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

.toggle-on.btn {
    padding-left: 0px !important;
}

/*
 * Chat
 */
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    /*height: 400px;*/
}

.flot-chart-content {
    width: 100%;
    /*height: 100%;*/
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

/*
 * Tables
 */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.snep-table-linkskhomp > thead > tr{
    background-color: #f26c45;
    color: #fff;
}

/*
 * Grids
 */
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

/*
 * Panels
 */
.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-orange {
    border-color: #d3d3d3;
}

.panel-orange .panel-heading {
    border-color: #f26c45;
    color: #fff;
    background-color: #f26c45;
}

.panel-orange a {
    color: #f26c45;
}

.panel-orange a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-footer {
    padding:10px 15px;
    background-color:#fff;
    border-top:1px solid #ddd;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px
}

.panel-add {
    border-color:#E2623D
}

.panel-add>.panel-heading {
    color:#fff;
    background-color:#f26c45;
    border-color:#E2623D
}
.panel-add>.panel-heading+.panel-collapse>.panel-body {
    border-top-color:#ddd
}
.panel-add>.panel-heading .badge {
    color:#f5f5f5;
    background-color:#333
}
.panel-add>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color:#ddd
}

/*
 * Pagination
 */

.pagination>li>a,.pagination>li>span {
    position:relative;
    float:left;
    padding:6px 12px;
    margin-left:-1px;
    line-height:1.42857143;
    color:#3b3a3c;
    text-decoration:none;
    background-color:#fff;
    border:1px solid #ddd
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    z-index:2;
    color:#fff;
    cursor:default;
    background-color:#3b3a3c;
    border-color:#868488
}

/*
 * Fonts
 */

@font-face {
    font-family: 'snep-icons';
    src:    url('fonts/snep-icons.eot?4m5pn0');
    src:    url('fonts/snep-icons.eot?4m5pn0#iefix') format('embedded-opentype'),
        url('fonts/snep-icons.ttf?4m5pn0') format('truetype'),
        url('fonts/snep-icons.woff?4m5pn0') format('woff'),
        url('fonts/snep-icons.svg?4m5pn0#snep-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sn-"], [class*=" sn-"] {
    font-family: 'snep-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sn-dashboard:before {
    content: "\e622";
}
.sn-status:before {
    content: "\e602";
}
.sn-status-ip:before {
    content: "\e603";
}
.sn-links:before {
    content: "\e604";
}
.sn-erros-links:before {
    content: "\e605";
}
.sn-logs:before {
    content: "\e606";
}
.sn-relatorios:before {
    content: "\e607";
}
.sn-chamadas:before {
    content: "\e608";
}
.sn-ranking:before {
    content: "\e609";
}
.sn-servicos:before {
    content: "\e60a";
}
.sn-busca:before {
    content: "\e60b";
}
.sn-cadastros:before {
    content: "\e60c";
}
.sn-usuarios:before {
    content: "\e60d";
}
.sn-perfis:before {
    content: "\e60e";
}
.sn-ramal:before {
    content: "\e60f";
}
.sn-grupo-ramais:before {
    content: "\e610";
}
.sn-etiqueta:before {
    content: "\e611";
}
.sn-troncos:before {
    content: "\e612";
}
.sn-contatos:before {
    content: "\e613";
}
.sn-grupo-contatos:before {
    content: "\e614";
}
.sn-filas:before {
    content: "\e615";
}
.sn-grupo-filas:before {
    content: "\e616";
}
.sn-conferencia:before {
    content: "\e617";
}
.sn-regras:before {
    content: "\e618";
}
.sn-rotas:before {
    content: "\e619";
}
.sn-conf-padrao:before {
    content: "\e61a";
}
.sn-alias:before {
    content: "\e61b";
}
.sn-configuracao:before {
    content: "\e61c";
}
.sn-parametros:before {
    content: "\e61d";
}
.sn-arquivo-som:before {
    content: "\e61e";
}
.sn-som-espera:before {
    content: "\e61f";
}
.sn-status-sistema:before {
    content: "\e620";
}
.sn-modulos:before {
    content: "\e621";
}
.sn-grupo-captura:before {
    content: "\e600";
}
.sn-simulador-regra:before {
    content: "\e601";
}
.sn-on:before {
    content: "\e623";
}
.sn-add:before {
    content: "\e624";
}
.sn-remove:before {
    content: "\e625";
}
.sn-barra-status:before {
    content: "\e626";
}
.sn-off:before {
    content: "\e627";
}
.sn-barra-status-indicador:before {
    content: "\e628";
}
.sn-menu-level3:before {
    content: "\e629";
}
.sn-status-server:before {
    content: "\e62a";
}
.sn-status-mod:before {
    content: "\e62b";
}
.sn-status-cpu:before {
    content: "\e62c";
}
.sn-status-disk:before {
    content: "\e62d";
}
.sn-status-asterisk:before {
    content: "\e62e";
}
.sn-status-asterisk-1:before {
    content: "\e62f";
}
.sn-status-mem:before {
    content: "\e630";
}
.sn-sound-on:before {
    content: "\e631";
}
.sn-sound-off:before {
    content: "\e632";
}
.sn-no-backup:before {
    content: "\e633";
}
.sn-backto-backup:before {
    content: "\e634";
}
.sn-dash-add:before {
    content: "\e635";
}
.sn-visivel:before {
    content: "\e636";
}
.sn-oculto:before {
    content: "\e637";
}

/*
 * SNEP Sounds
 */

a.snep-list-sounds > img{
    height: 20px;
    width: 20px;
}    

span.snep-list-sounds{
    background: transparent !important;
    font-size: 25px;
}
/*
 * SNEP Sounds - Player
 */

.simple-player-container {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.simple-player-container > div > ul {
    margin: 0;
    padding-left: 0;
}
.simpleplayer-play-control {
    background-image: url('../images/play.png');
    display: block;
    width: 16px;
    height: 16px;
    bottom: -5px;
    position: relative;
}
.simpleplayer-play-control:hover {
    background-image: url('../images/playing.png');
}
.simpleplayer-stop-control {
    background-image: url('../images/stop.png');
    display: block;
    width: 16px;
    height: 16px;
    bottom: -5px;
    position: relative;
}
.simpleplayer-stop-control:hover {
    background-image: url('../images/stoped.png');
}
.sound-file-player, .sound-file-player:before, .sound-file-player:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 90px;
}


/*
 * SNEP Logs - view
 */
#tail{
    width: 100%;
 /*   display: table;
*/    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
    font-size: 12px;
    border: 1px solid #959595;
    clear: both;
}
.normal{
    background: #ddd;
    color: #333;
}

.terminal{
    background: #222;
    color: #f0f0f0;
    font-weight: normal;
}

.contraste{
    background: #fff;
    color: #000;
}



/*
 * Gharts
 */
.demo-container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    
}

.demo-placeholder {
    width: 100%;
    height: 70%;
    font-size: 14px;
    line-height: 1.2em;
}

.placeholder{
    float:left; 
    width:85%;
}

#menu-graphic {
    position: absolute;
    top: 120px;
    
    bottom: 20px;
    right: 40px;
    width: 200px;
}

#menu-graphic button {
    display: inline-block;
    width: 200px;
    padding: 3px 0 2px 0;
    margin-bottom: 4px;
}

#totals {
    width: 70%;
}

#type {
    width: 70%;
}

/*
 * Forms add / remove itens
 */
.form-control {
    font-size: 12px;
}

.boxremove{
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(/snep/images/remover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F8F9FB;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}
.boxadd{
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(/snep/images/adicionar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F8F9FB;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

#tableExpr > tbody > tr > td,
#tablePhone > tbody > tr > td {
    border: 0px;
}
#tableExpr > tbody > tr > td > label,
#tablePhone > tbody > tr > td > label {
    padding-right: 15px;

}
/*
 * SNEP Export Data
 */
ul.snep-exportadata {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

}

/*
* SNEP Notifications
*/
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.notification{
    background-color: #FFFFFF;
}

.notification:hover{
    color: #E2623D;
}

.new-notification{
    color:#E2623D; 
}

.new-notification:hover{
    color:#FFFFFF; 
}

.notification-panel{
    background-color:#ddd;
}

